#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# .pyc
*.pyc

# .vagrant
**/.vagrant/*

# .molecule
**/.molecule/*

# pycache
**/__pycache__/**